<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Application{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% endblock %}
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
{% block body %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <script>
      $( function() {
        $( "#dateStart" ).datepicker({dateFormat: 'yy-mm-dd',  minDate: -365, maxDate: 0}).change(function(){
          $( "#dateEnd" ).datepicker("destroy");
          $( "#dateEnd" ).datepicker({dateFormat: 'yy-mm-dd', minDate: this.value, maxDate: 0 });
        });
      } );
    </script>
{% endblock %}
</body>
</html>